## Tutorial on Bar Chart Race with Covid-19 Dataset

In [1]:
import os
import pandas as pd
import wget
# html embedding
from IPython.display import Javascript
from IPython.core.display import display
from IPython.core.display import HTML

### Remove the old files and download the up to date file. If you dont delete the old ones m the new ones will be downloaded with extension (1)

In [28]:
data_files = ['time_series_covid19_confirmed_global.csv','time_series_covid19_deaths_global.csv','time_series_covid19_recovered_global.csv']

In [29]:
for file in data_files:
    if os.path.exists(file):
        os.remove(file)

### Read The data from Github of CSSEGIS of John Hopkins

In [30]:
urls = ['https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv', 
        'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv', 
        'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv']
for url in urls:
    filename = wget.download(url)
    print('\n downloaded')

100% [..............................................................................] 45025 / 45025
 downloaded
100% [..............................................................................] 38464 / 38464
 downloaded
100% [..............................................................................] 82158 / 82158
 downloaded

### Read the CSV files as Pandas Dataframe

In [33]:

conf_df = pd.read_csv('time_series_covid19_confirmed_global.csv')
deaths_df = pd.read_csv('time_series_covid19_deaths_global.csv')
recv_df = pd.read_csv('time_series_covid19_recovered_global.csv')

In [34]:
conf_df.head(10)
#deaths_df.head()
#recv_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,16,21,22,22,22,24,24,40,40,74
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,42,51,55,59,64,70,76,89,104,123
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,48,54,60,74,87,90,139,201,230,264
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,1,2,39,39,53,75,88,113,133,164
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,0,1,2,2,3,3
5,NaN,Antigua and Barbuda,17.0608,-61.7964,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,3,3
6,NaN,Argentina,-38.4161,-63.6167,0,0,0,0,0,0,...,45,56,68,79,97,128,158,266,301,387
7,NaN,Armenia,40.0691,45.0382,0,0,0,0,0,0,...,26,52,78,84,115,136,160,194,235,249
8,Australian Capital Territory,Australia,-35.4735,149.0124,0,0,0,0,0,0,...,1,2,2,3,4,6,9,19,32,39
9,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,134,171,210,267,307,353,436,669,669,818

### List down all the columns

In [35]:
conf_df.columns
# deaths_df.columns
# recv_df.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20', '3/24/20'],
      dtype='object')

### Group all the case country wise

In [36]:
# latest condensed
conf_df_grouped = conf_df.groupby('Country/Region')[conf_df.columns[4:]].sum().reset_index()
deaths_df_grouped = deaths_df.groupby('Country/Region')[deaths_df.columns[4:]].sum().reset_index()
recv_df_grouped = recv_df.groupby('Country/Region')[recv_df.columns[4:]].sum().reset_index()
conf_df_grouped.head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,16,21,22,22,22,24,24,40,40,74
1,Albania,0,0,0,0,0,0,0,0,0,...,42,51,55,59,64,70,76,89,104,123
2,Algeria,0,0,0,0,0,0,0,0,0,...,48,54,60,74,87,90,139,201,230,264
3,Andorra,0,0,0,0,0,0,0,0,0,...,1,2,39,39,53,75,88,113,133,164
4,Angola,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,2,2,3,3

In [37]:
countries_infected = conf_df['Country/Region'].unique()
print ('total number of countries/regions affected: ', len(countries_infected))

total number of countries/regions affected:  170

### List down cases of China Alone

In [38]:
conf_df_china = conf_df[conf_df['Country/Region']=='China']
provinces = conf_df_china['Province/State'].unique()
print ('total number of affected provinces in china: ', len(provinces))
conf_df_china.head()

total number of affected provinces in china:  33

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20
49,Anhui,China,31.8257,117.2264,1,9,15,39,60,70,...,990,990,990,990,990,990,990,990,990,990
50,Beijing,China,40.1824,116.4142,14,22,36,41,68,80,...,442,452,456,469,480,491,504,522,537,558
51,Chongqing,China,30.0572,107.8740,6,9,27,57,75,110,...,576,576,576,576,576,576,576,577,578,578
52,Fujian,China,26.0789,117.9874,1,5,10,18,35,59,...,296,296,296,296,296,299,303,313,313,318
53,Gansu,China,37.8099,101.0583,0,2,2,4,7,14,...,133,133,133,133,134,134,134,136,136,136

### Save the prepared dataframe as csv files without the flag urls

In [39]:
conf_df_grouped.to_csv('covid_19_race_bar_conf.csv', index=False)
deaths_df_grouped.to_csv('covid_19_race_bar_death.csv', index=False)
recv_df_grouped.to_csv('covid_19_race_bar_recv.csv', index=False)

### To add the counrty flag on the graph

In [40]:
#pop_data = pd.read_csv('Data_pop.csv')
#pop_data.head()

In [41]:
#image_url = pop_data[['Country Name','Image URL']]
#image_url.head()

In [42]:
#image_url.to_csv('country_flags_url.csv', index=False)

### Read the csv files containing URL of the country flags

In [43]:
country_flags = pd.read_csv('country_flags_url.csv')
country_flags.head()

   Country Name                                   Image URL
0        Angola  https://www.countryflags.io/ao/flat/64.png
1       Burundi  https://www.countryflags.io/bi/flat/64.png
2         Benin  https://www.countryflags.io/bj/flat/64.png
3  Burkina Faso  https://www.countryflags.io/bf/flat/64.png
4      Botswana  https://www.countryflags.io/bw/flat/64.png

In [44]:
country_flags.describe()

       Country Name                                   Image URL
count           215                                         215
unique          215                                         215
top       Mauritius  https://www.countryflags.io/pa/flat/64.png
freq              1                                           1

### Add a Flag URL column to your Corona cases Dataframe

In [45]:
deaths_df_grouped.insert(1,'Flag URL','')
conf_df_grouped.insert(1,'Flag URL','')
recv_df_grouped.insert(1,'Flag URL','')
deaths_df_grouped.head()

,Country/Region,Flag URL,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20
0,Afghanistan,,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
1,Albania,,0,0,0,0,0,0,0,0,...,1,1,1,2,2,2,2,2,4,5
2,Algeria,,0,0,0,0,0,0,0,0,...,4,4,4,7,9,11,15,17,17,19
3,Andorra,,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
4,Angola,,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### How to get the flag URL

In [46]:
flag = country_flags[country_flags['Country Name']=="India"]['Image URL']
flag = list(flag)[0]
flag
#rslt_df = image_url.loc[image_url['Country Name'] == 'Angola'] 
#rslt_df.iloc[:,1]

'https://www.countryflags.io/in/flat/64.png'

### How to get specific Country index

In [47]:
index = deaths_df_grouped[deaths_df_grouped['Country/Region']=="India"].index
print(index)
print(deaths_df_grouped.loc[index,:])

Int64Index([74], dtype='int64')
   Country/Region Flag URL  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
74          India                 0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  3/15/20  3/16/20  3/17/20  3/18/20  \
74        0        0        0  ...        2        2        3        3

    3/19/20  3/20/20  3/21/20  3/22/20  3/23/20  3/24/20
74        4        5        4        7       10       10

[1 rows x 65 columns]

In [48]:
deaths_df_grouped.loc[index,:]['Flag URL']

74
Name: Flag URL, dtype: object

In [49]:
deaths_df_grouped.at[index,'Flag URL']=flag
deaths_df_grouped.loc[index,:]['Flag URL']

74    https://www.countryflags.io/in/flat/64.png
Name: Flag URL, dtype: object

### Insert Flag URLs for all the countries

In [50]:
flags_unk = []
for cnt in countries_infected:
    flag = country_flags[country_flags['Country Name']==cnt]['Image URL']
    flag = list(flag)
    if flag:
        index = conf_df_grouped[conf_df_grouped['Country/Region']==cnt].index
        conf_df_grouped.at[index,'Flag URL']=flag[0]
    else:
        flags_unk.append(cnt)

for cnt in countries_infected:
    flag = country_flags[country_flags['Country Name']==cnt]['Image URL']
    flag = list(flag)
    if flag:
        index = deaths_df_grouped[deaths_df_grouped['Country/Region']==cnt].index
        deaths_df_grouped.at[index,'Flag URL']=flag[0]

    
for cnt in countries_infected:
    flag = country_flags[country_flags['Country Name']==cnt]['Image URL']
    flag = list(flag)
    if flag:
        index = recv_df_grouped[recv_df_grouped['Country/Region']==cnt].index
        recv_df_grouped.at[index,'Flag URL']=flag[0]

In [51]:
flags_unk

['Bahamas',
 'Brunei',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 'Diamond Princess',
 'Czechia',
 'Egypt',
 'Gambia',
 'Holy See',
 'Korea, South',
 'Kyrgyzstan',
 'North Macedonia',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Slovakia',
 'Taiwan*',
 'United Arab Emirates',
 'United Kingdom',
 'Venezuela',
 'Syria',
 'Laos']

In [52]:

cnt_ext = {'US':'https://www.countryflags.io/us/flat/64.png','Iran':'https://www.countryflags.io/ir/flat/64.png',
           'United Kingdom':'https://www.countryflags.io/gb/flat/64.png', 
           'Korea, South':'https://www.countryflags.io/kr/flat/64.png'}
for cnt,url in cnt_ext.items():
        index = deaths_df_grouped[deaths_df_grouped['Country/Region']==cnt].index
        deaths_df_grouped.at[index,'Flag URL']=url
        index = conf_df_grouped[conf_df_grouped['Country/Region']==cnt].index
        conf_df_grouped.at[index,'Flag URL']=url
        index = recv_df_grouped[recv_df_grouped['Country/Region']==cnt].index
        recv_df_grouped.at[index,'Flag URL']=url

In [53]:
deaths_df_grouped.head()

,Country/Region,Flag URL,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20
0,Afghanistan,https://www.countryflags.io/af/flat/64.png,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
1,Albania,https://www.countryflags.io/al/flat/64.png,0,0,0,0,0,0,0,0,...,1,1,1,2,2,2,2,2,4,5
2,Algeria,https://www.countryflags.io/dz/flat/64.png,0,0,0,0,0,0,0,0,...,4,4,4,7,9,11,15,17,17,19
3,Andorra,https://www.countryflags.io/ad/flat/64.png,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
4,Angola,https://www.countryflags.io/ao/flat/64.png,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Save the new data with included flag url

In [54]:
conf_df_grouped.to_csv('covid_19_race_bar_conf.csv', index=False)
deaths_df_grouped.to_csv('covid_19_race_bar_death.csv', index=False)
recv_df_grouped.to_csv('covid_19_race_bar_recv.csv', index=False)

### Bar Chart Race Visualization

https://public.flourish.studio/visualisation/1642821/

In [55]:
HTML('''<div class="flourish-embed flourish-bar-chart-race" data-src="visualisation/1642821"><script src="https://public.flourish.studio/resources/embed.js"></script></div>''')